@font-face {
  font-family: Univers;
  src: url("UniversRegular.ttf"), format("truetype");
}

@font-face {
  font-family: Univers;
  font-weight: 500;
  src: url("UniversBold.ttf"), format("truetype");
}

@font-face {
  font-family: Univers;
  font-weight: 100;
  src: url("UniversLight.ttf"), format("truetype");
}