:root {
  --main-font: Univers;
  --second-font: "Univers Condensed";
  --primary-color: #FFF8F3;
  --secondary-color: rgb(99, 156, 26);
  --bg-color: #FFFEDB;
  --thin-border: 1px solid black;
  --spacing: 0.75rem 1rem;
 }


/* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: none;
}

::selection {
	background-color: var(--secondary-color);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

figure, img {
  width: 100%;
}

/* STYLES */

h1 {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

a:hover h1 {
  text-decoration: underline;
}

.color-link {
  color: var(--secondary-color);
}

.color-link:hover {
  color: black;
}

/* STYLES */

body {
  font-family: Univers;
  padding: var(--spacing);
  background-color: var(--bg-color);
}

.header {
  display: flex;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
}

.title, nav {
  width: 50%;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav li:not(:last-of-type) {
  padding-right: 0.5rem;
}


nav a:hover, a.active, .tags a:hover, .title a:hover, .filter a:hover {
  color: var(--secondary-color);
}

.subnav {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

ul.filter {
  display: flex;
}

ul.filter li {
  margin-right: 1rem;
}
ul.tags {
  display: flex;
  /* flex-flow: column;
  width: 165px;
  float: left; */
}

.subnav .tags li {
  padding-left: 2rem;
}

.navigation {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

/* HOME */

.home main section, .info main {
  width: auto;
  height: calc(100vh - 65px);
  /* height: 400px; */
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
}

.home main section img {
  max-width: 600px;
}

.home main {
  grid-gap: 0.75rem;
}

/* main {
  padding-bottom: 2rem;
} */

/* EXHIBITION */

.row {
  display: flex; 
  width: 100%;
  border-bottom: var(--thin-border);
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

.row:last-of-type {
  border-bottom: none;
}

.row figure {
  max-width: 350px;
}

.row .details {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-right: 1rem;
}

p.stretch {
  flex-grow: 1;
}

.exhibition section {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.exhibition section > div {
  padding-right: 1rem;
  padding-top: 0.75rem;
}

/* 
.exhibition figure, .exhibition img, .exhibition figcaption {
  max-width: 600px;
  width: auto;
  height: auto;
}

.exhibition img {
  max-height: 600px;
} */

.exhibition figcaption {
  position: relative;
  margin-top: 0.25rem;
  font-size: 14px;
}

.exhibition .heading .date {
  margin-bottom: 0.25rem;
}

.work .heading, .exhibition .heading {
  margin-bottom: 1rem;
}

.work .heading .row,  .exhibition .heading .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.work .heading .row:last-of-type {
  align-items: flex-start;
}

.works main, .work main {
  padding-bottom: 0;
}

.works .subnav {
  justify-content: space-between;
}

/* WORKS */

section.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
}

.work section, .exhibition section, .work .heading, .exhibition .heading {
  padding-top: 2rem; 
}

.work section > div {
  max-width: 33.33%;
  display: inline-block;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
}

.work section > div:nth-of-type(3n) {
  padding-right: 0;
}

.work section {
  display: flex;
  flex-wrap: wrap;
}

figcaption {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

/* TATTOOS */

.sticky {
  position: sticky;
  top: 1rem;
}

.tattoos h1 {
  padding-bottom: 0.75rem;
  /* padding-top: 2rem; */
}

.tattoos main {
  display: flex;
}

.tattoos section {
  position: relative;
  width: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.tattoos section:first-of-type {
  padding-left: 0;
  border-right: var(--thin-border);
}
.tattoos section:last-of-type {
  padding-right: 0;
}

section.tattoos {
  display: flex;
  flex-wrap: wrap;
}

.tattoos p {
  padding: 0 0 1rem;
}

section.tattoos figure {
  /* width: 12.5%;
  height: 180px; */
  width: 25%;
  height: auto;
  margin-bottom: 0.45rem;
  overflow: hidden;
  padding-right: 0.75rem;
}

section.tattoos img {
  object-fit: cover;
  height: 250px;
}

section.tattoos figure:nth-of-type(4n) {
  padding-right: 0;
}

.tattoos .cover {
  width: 100%;
  max-width: 700px;
}

.tattoos button {
  border: none;
  padding: 0.75rem 1.75rem;
  margin-top: 1rem;
  background-color: black;
  color: white;
  font-weight: 500;
  font-family: var(--main-font);
}

.tattoos button a:hover {
  text-decoration: none;
}

.tattoos button:hover {
  text-decoration: none;
  color: black;
  background-color: var(--secondary-color);
}

/* BLOG */

.blog article {
  width: 20%;
  padding-right: 1rem;
}
.blog article:nth-of-type(5n) {
  padding-right: 0;
}

.blog section {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.blog .blank {
  width: 150px;
  height: 150px;
  border: var(--thin-border);
}

.entry article {
  padding-top: 2rem;
  line-height: 1.5;
  padding-bottom: 4rem;
}

.entry section:not(.wide) article {
  width: 600px;
  margin: 0 auto;
}

.entry .wide article .heading, .entry .wide article ul.tags {
  width: 600px;
  margin: 0 auto;
}

.entry article .heading {
  margin-bottom: 1rem;
}

.entry article figure {
  padding: 1rem 0;
}

.entry article figure ul {
  list-style-type: none;
  margin-left: 0;

}

.entry figcaption {
  margin-top: 0.5rem;
}

.entry article ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.entry article ul.tags {
  border-top: var(--thin-border);
  list-style-type: none;
  margin-top: 2rem;
  padding-top: 0.7rem;
  margin-left: 0;
}

.entry article ul.tags li, .blog article ul.tags li {
  margin-right: 0.75rem;
}

.entry video {
  width: 100%;
}



/* other */

.cv main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.cv strong {
  font-family: var(--second-font);
  padding-top: 1.3rem;
  display: inline-block;
  font-size: 1.1rem;
}

.info .profile {
  width: auto;
  margin-top: 2rem;
}

.info .profile {
  margin-right: 1rem;
}

.info .content {
  margin-bottom: 0.75rem;
}