:root {
  --main-font: Univers;
  --second-font: "Univers Condensed";
  --primary-color: #FFF8F3;
  --secondary-color: rgb(99, 156, 26);
  --bg-color: #FFFEDB;
  --thin-border: 1px solid black;
  --spacing: 0.75rem 1rem;
 }


/* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: none;
}

::selection {
	background-color: var(--secondary-color);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure, img {
  width: 100%;
}

/* STYLES */

h1 {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}


/* STYLES */

body {
  font-family: Univers;
  padding: var(--spacing);
  background-color: var(--bg-color);
}

.header {
  display: flex;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
}

.title, nav {
  width: 50%;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav li:not(:last-of-type) {
  padding-right: 0.5rem;
}

nav a.active {
  color: var(--secondary-color);
}

ul.tags {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  /* flex-flow: column;
  width: 165px;
  float: left; */
}

.tags li {
  padding-left: 2rem;
}

/* HOME */

.home main section {
  width: 100%;
  /* height: 400px; */
}

.home main {
  display: flex;
  grid-gap: 0.75rem;
  align-items: flex-end;
  height: 88vh;
}

main {
  padding-bottom: 2rem;
}

/* EXHIBITION */

.row {
  display: flex; 
  width: 100%;
  border-bottom: var(--thin-border);
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

.row:last-of-type {
  border-bottom: none;
}

.row figure {
  width: 30%;
  max-width: 350px;
}

.row .details {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-right: 1rem;
}

p.stretch {
  flex-grow: 1;
}


/* WORKS */

section.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
}

.work section, .exhibition section, .work h1, .exhibition h1 {
  padding-top: 2rem;
}

.work section > div {
  max-width: 33.33%;
  display: inline-block;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
}

.work section > div:nth-of-type(3n) {
  padding-right: 0;
}

.work section {
  display: flex;
  flex-wrap: wrap;
}

.date {
  margin-bottom: 1rem;
}

figcaption {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.exhibition figure, .exhibition img {
  width: auto;
  max-width: 100%;
}
/* TATTOOS */

.tattoos main {
  display: flex;
}

.tattoos section {
  width: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.tattoos section:first-of-type {
  padding-left: 0;
  border-right: var(--thin-border);
}
.tattoos section:last-of-type {
  padding-right: 0;
}

section.tattoos {
  display: flex;
  flex-wrap: wrap;
}

.tattoos p {
  padding-bottom: 2rem;
}

section.tattoos figure {
  /* width: 12.5%;
  height: 180px; */
  width: 25%;
  height: auto;
  margin-bottom: 0.75rem;
  overflow: hidden;
  padding-right: 0.75rem;
}

section.tattoos figure:nth-of-type(4n) {
  padding-right: 0;
}

.tattoos .cover {
  width: 100%;
  max-width: 700px;
}

.tattoos button {
  border: var(--thin-border);
  padding: 1rem 1.75rem;
}